{% extends 'base.html' %}

{% block title %}<title>Home</title>{% endblock title %}

{% block content %}
    <div class="container" style="text-align: center;">
        <a class="btn btn-primary" href="partregis" role="button" style="width: 90%;"><h3>Part Register</h3></a>
        <br>
        <br>
        <a class="btn btn-primary" href="partuse" role="button" style="width: 90%;"><h3>Part Use</h3></a>
        <br>
        <br>
        <a class="btn btn-primary" href="partcheck" role="button" style="width: 90%;"><h3>Part Check</h3></a>
    </div>
{% endblock content %}