{% extends 'base.html' %}

{% block title %}<title>Reset Password</title>{% endblock title %}

{% block content %}

<br>
<div class="container" style="align-items: center;">
    <h2>Reset Password</h2>
    <div class="row">
        <div class="col-lg-5">
            <from action="{{url_for('sign_up')}}" method="POST">
                <!-- EmployeeID -->
                <br>
                <div class="from-group">
                    <label>Emp. ID</label>
                    <input type="number" class="form-control" name="EmpID" placeholder="">
                </div>
                <!-- New Password -->
                <br>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" name="NewPWD" placeholder="">
                </div>
                <!-- Confirm Password -->
                <br>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" name="ConfirmPWD" placeholder="">
                </div>
                <!-- Button for summiting form -->
                <br>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
                <br>
            </from>
        </div>
    </div>
</div>

{% endblock content %}