<!DOCTYPE html>
<html lang="en">

<head>
    <title>Part List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="../static/js/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .modal-header,
        h4,
        .close {
            background-color: #89dd29;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>

    <script>
        function addPart() {
            var table = document.getElementById("partTable");
            var time_ = new Date();
            var curTime = time_.toDateString();

            var row = table.insertRow(-1);

            var cellNum = row.insertCell(0);
            var cellName = row.insertCell(1);
            var cellQty = row.insertCell(2);
            var cellLocate = row.insertCell(3);
            var cellProject = row.insertCell(4);
            var cellBarcode = row.insertCell(5);
            var cellDate= row.insertCell(6);
            var cellAction = row.insertCell(7); 
            

            cellNum.innerHTML = "1";
            cellName.innerHTML = document.getElementById("partName").value;
            cellQty.innerHTML =document.getElementById("partQty").value;
            cellLocate.innerHTML =document.getElementById("partLocate").value;
            cellProject.innerHTML =document.getElementById("partProject").value;
            cellBarcode.innerHTML=document.getElementById("partBarcode").value;
            cellDate.innerHTML= curTime ;
            cellAction.innerHTML= "Wait for Action"
            
        }
    </script>

</head>

<body>
    <div class="container">
        <button id="btn-add" type="button" onclick="addPart()">Add New part</button>
        <button id="btn-pop" type="button">Pop-Up</button>
    </div>
    <div class="container">
        <div class="col-sm-6">
            <h2>Part List</h2>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <table id="partTable" class="table table-bordered table-condensed table-striped">

                    <!-- Define a header column //tr = table row , th = table header cell -->
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Part Name</th>
                            <th>Qty</th>
                            <th>Location</th>
                            <th>Project</th>
                            <th>Barcode</th>
                            <th>Modify Date</th>
                            <th>Action</th>         
                        </tr>
                    </thead>
                    <!-- Define a table Body -->

                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span>  Part Registration</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="partName"><span class="glyphicon glyphicon-shopping-cart"></span>  Part Name</label>
                            <input type="text" class="form-control" id="partName" placeholder="Enter part name">
                        </div>

                        <div class="form-group">
                            <label for="partQty"><span class="glyphicon glyphicon-equalizer"></span>  Part Quatity</label>
                            <input type="text" class="form-control" id="partQty" placeholder="Enter Qty">
                        </div>

                        <div class="form-group">
                            <label for="partLocate"><span class="glyphicon glyphicon-pushpin"></span> </span>  Part Location</label>
                            <select class="form-control" id="partLocate">
                                <optgroup label="Assembly Room 1">
                                    <option>CB771662</option>
                                    <option>CB187128</option>
                                </optgroup>

                                <optgroup label="Assembly Room 2">
                                    <option>CB1000201</option>
                                    <option>CB1203991</option>
                                </optgroup>
                                
                                <optgroup label="Assembly Room 3">
                                    <option>CB122139</option>
                                    <option>CB771362</option>
                                </optgroup>    
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="partProject"><span class="glyphicon glyphicon-pushpin"></span> </span>  Project Select</label>
                            <select class="form-control" id="partProject">
                                <optgroup label="Robot Team">
                                    <option>Project A</option>
                                    <option>Project B</option>
                                </optgroup>

                                <optgroup label="Testing Team">
                                    <option>Project C</option>
                                    <option>Project D</option>
                                </optgroup>
                                
                                <optgroup label="LCA Team">
                                    <option>Project E</option>
                                    <option>Project F</option>
                                </optgroup>    

                                <optgroup label="Smart Assembly Team">
                                    <option>Project G</option>
                                    <option>Project H</option>
                                </optgroup> 

                                <optgroup label="Other">
                                    <option>Project I</option>
                                    <option>Project J</option>
                                </optgroup> 
                            </select>
                            
                        </div>

                        <div class="form-inline">
                            <div class="form-group">
                                <label for="partBarcode"> <span class="glyphicon glyphicon-barcode"></span> Part Barcode</label>
                                <input type="text" class="form-control" id="partBarcode" placeholder="Barcode Generate Here">
                            </div>
                        </div>

                        <div class="form-group"></div>
                        
                        <button type="button" class="btn btn-success btn-block" onclick="addPart()"><span
                                class="glyphicon glyphicon-plus"></span> ADD Part </button>
                    </form>
                    
                    
                </div>

                <!-- <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove"></span> Cancel</button>
                    <p>Not a member? <a href="#">Sign Up</a></p>
                    <p>Forgot <a href="#">Password?</a></p>
                </div> -->

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#btn-pop").click(function () {
                $("#myModal").modal();
            });
        });
    </script>

</body>

</html>